/* Style pour la première ligne (entête) du tableau */
.table-bordered thead th {
  background-color: cyan; /* Couleur de fond */
  color: white; /* Couleur du texte */
  font-weight: bold; /* Gras pour le texte */
  text-align: center; /* Centrer le texte */
  padding: 10px; /* Espacement intérieur */
}

/* Style pour les lignes de données impaires */
.table-bordered tbody tr:nth-child(odd) {
  background-color: beige; /* Couleur de fond */
}

/* Style pour les cellules du tableau */
.table-bordered td, .table-bordered th {
  padding: 8px; /* Espacement intérieur */
}





.top-navbar {
  background-color: #313236; /* Couleur de fond */
  color: #ffffff; /* Couleur du texte */
  padding: 10px; /* Espacement intérieur */
  text-align: center; /* Centrer le texte */
}


.top-navbar a {
  color: #ffffff; /* Couleur du texte des liens */
  text-decoration: none; /* Supprimer le soulignement par défaut */
  margin: 0 10px; /* Espacement horizontal entre les liens */
}

.top-navbar a:hover {
  text-decoration: underline; /* Souligner le texte au survol */
}

body {
  background-color: #f0f0f0; /* Couleur de fond globale */
}

.container {
  background-color: #fff; /* Couleur de fond du contenu principal */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

/* Styles pour la table des matières */
.toc {
  position: fixed; /* Rend la table des matières fixe */
  top: 4cm; /* Position fixe à 7cm du haut de la page */
  left: 20px; /* Espacement de la gauche de la fenêtre */
  width: 200px;
  background-color: #f0f0f0; /* Couleur de fond */
  padding: 10px;
  border-radius: 5px; /* Coins arrondis */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.toc h2 {
  margin-bottom: 10px;
  color: #333; /* Couleur du texte */
}

.toc ul {
  list-style-type: none;
  padding: 0;
}

.toc li {
  margin-bottom: 5px;
}

/* Styles pour le contenu principal */
.main-content {
  margin-left: 260px; /* Marge à gauche avec la table des matières */
  padding: 20px;
  text-align: justify; /* Justification du texte */
  background-color: lightgrey; /* Couleur de fond */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
}
.main-content h1 {
  text-align: center;
  color: rgb(65, 27, 201);
}
.main-content h1 {
  text-decoration: underline;
}
.main-content h2 {
  color: rgb(230, 36, 36); /* Couleur du texte des titres */
}

.main-content p {
  color: rgb(2, 1, 1); /* Couleur du texte des paragraphes */
  line-height: 1.6; /* Hauteur de ligne pour une meilleure lisibilité */
  margin-bottom: 15px; /* Espacement entre les paragraphes */
}

.main-content a {
  color: #007bff; /* Couleur des liens */
  text-decoration: none; /* Suppression du soulignement par défaut */
}

.main-content a:hover {
  text-decoration: underline; /* Soulignement au survol des liens */
}

.main-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 15px; /* Centrage et espacement en bas */
  border-radius: 8px; /* Coins arrondis pour les images */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
  color: beige;
}
